{{> header}}
<div class="offer-details">
    <h1>{{name}}</h1>
    <div class="info">
        <img src="{{imageUrl}}"
            alt="">
        <div class="description">{{description}}
            <br>
            <p>Buyers: {{buyers}}</p>
            <br>
            <p class="price">${{price}}</p>
        </div>
    </div>
    <div class="actions">
        {{#if creator}}
        <a href="/edit/{{id}}">Edit</a>
        <a href="/delete/{{id}}">Delete</a>
        {{else}}
            {{#unless bought}}
                <a href="/buy/{{id}}">Buy</a>
            {{else}}
                <span>You bought it</span>
            {{/unless}}
        {{/if}}
    </div>
</div>