{{> header}}
<div class="offer-details">
            <h1>{{name}}</h1>
            <div class="info">
                <img src={{url}}
                    alt="">
                <div class="description">{{description}}
                    <br>
                    <p>Buyers: {{buyersCount}}</p>
                    <br>
                    <p class="price">${{price}}</p>
                </div>
            </div>
            <div class="actions">
                {{#if isCreator}}
                <a href="/edit/{{id}}">Edit</a>
                <a href="/delete/{{id}}">Delete</a>
                {{else}}
                {{#unless hasBough}}
                <a href="buy/{{id}}" method="post">Buy</a>
                {{else}}
                <span>You bought it</span>
                {{/unless}}
                {{/if}}
            </div>
        </div>

{{> footer}}